@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}
@media only screen and (min-width: 672px) {
  html,
  body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-size: 20px;
  }
}
